# Production requirements. This is what readthedocs.com picks up

-i https://pypi.tuna.tsinghua.edu.cn/simple

#git+https://github.com/ray-project/tune-sklearn@master#tune-sklearn
#watchfiles # Required because sphinx-click doesn't support mocking

# Syntax highlighting
Pygments==2.13.0

# Sphinx
sphinx
sphinx-click
sphinx-copybutton
sphinxemoji
sphinx-jsonschema
sphinx-version-warning
sphinx-book-theme
sphinx-external-toc
sphinx-sitemap
sphinxcontrib-redoc
sphinx-tabs
sphinx-remove-toctrees
autodoc_pydantic
sphinx_design

pydantic<2 # Pydantic is required by autodoc_pydantic, but must be <2 for ray

# MyST
myst-parser
myst-nb

# Jupyter conversion
jupytext==1.16.2

# Pin urllib to avoid downstream ssl incompatibility issues
urllib3 < 1.27

# For the API docs
fastapi==0.111.0
grpcio==1.57.0

numpy>=1.16
scikit-learn>=0.23
pandas
tabulate
ray[tune]==2.7.2
scikit-optimize>=0.8.1
parameterized
pytest>=6.1.2
xgboost
torch
torchvision
skorch
lightgbm>=3.0.0
keras
tensorflow
click
catboost
